# spotify cache
.cache

# testing of to understand needs in the script
spotipylist_dev.ipynb

# workspace settings
spotipylist.code-workspace
.vscode/

# pycache
__pycache__

# distribution/packaging
*.egg-info/
build/
dist/